@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: var(--color-gray-950);
  --foreground: var(--color-gray-50);
  --card: var(--color-gray-900);
  --card-foreground: var(--color-gray-50);
  --popover: var(--color-gray-900);
  --popover-foreground: var(--color-gray-50);
  --primary: var(--color-gray-200);
  --primary-foreground: var(--color-gray-950);
  --secondary: var(--color-gray-800);
  --secondary-foreground: var(--color-gray-50);
  --muted: var(--color-gray-900);
  --muted-foreground: var(--color-gray-400);
  --accent: var(--color-gray-800);
  --accent-foreground: var(--color-gray-50);
  --destructive: var(--color-red-600);
  --border: var(--color-gray-800);
  --input: var(--color-gray-900);
  --ring: var(--color-gray-500);
  --chart-1: var(--color-orange-500);
  --chart-2: var(--color-blue-500);
  --chart-3: var(--color-violet-500);
  --chart-4: var(--color-yellow-500);
  --chart-5: var(--color-amber-500);
  --sidebar: var(--color-gray-900);
  --sidebar-foreground: var(--color-gray-50);
  --sidebar-primary: var(--color-gray-200);
  --sidebar-primary-foreground: var(--color-gray-950);
  --sidebar-accent: var(--color-gray-800);
  --sidebar-accent-foreground: var(--color-gray-50);
  --sidebar-border: var(--color-gray-800);
  --sidebar-ring: var(--color-gray-500);
  
  
  
  /* UI-specific colors */
  --ui-window-bg: var(--color-gray-950);
  --ui-window-border: var(--color-gray-800);
  --ui-dropdown-bg: var(--color-gray-800);
  --ui-dropdown-fg: var(--color-gray-300);
  --ui-dropdown-hover: var(--color-gray-700);
  --ui-dropdown-active: var(--color-gray-700);
  --ui-dropdown-border: var(--color-gray-600);
  --ui-blink-color: var(--color-yellow-500);
  --ui-caret-color: var(--color-lime-500);
  --ui-selected-border: var(--color-blue-500);
  --ui-hover-border: var(--color-gray-600);
}

.dark {
  --background: var(--color-gray-950);
  --foreground: var(--color-gray-50);
  --card: var(--color-gray-900);
  --card-foreground: var(--color-gray-50);
  --popover: var(--color-gray-900);
  --popover-foreground: var(--color-gray-50);
  --primary: var(--color-gray-200);
  --primary-foreground: var(--color-gray-950);
  --secondary: var(--color-gray-800);
  --secondary-foreground: var(--color-gray-50);
  --muted: var(--color-gray-900);
  --muted-foreground: var(--color-gray-400);
  --accent: var(--color-gray-800);
  --accent-foreground: var(--color-gray-50);
  --destructive: var(--color-red-600);
  --border: var(--color-gray-800);
  --input: var(--color-gray-900);
  --ring: var(--color-gray-500);
  --chart-1: var(--color-orange-500);
  --chart-2: var(--color-blue-500);
  --chart-3: var(--color-violet-500);
  --chart-4: var(--color-yellow-500);
  --chart-5: var(--color-amber-500);
  --sidebar: var(--color-gray-900);
  --sidebar-foreground: var(--color-gray-50);
  --sidebar-primary: var(--color-gray-200);
  --sidebar-primary-foreground: var(--color-gray-950);
  --sidebar-accent: var(--color-gray-800);
  --sidebar-accent-foreground: var(--color-gray-50);
  --sidebar-border: var(--color-gray-800);
  --sidebar-ring: var(--color-gray-500);
  
}
